<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Online Movie Ticket System</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div>
        <h1 style="text-align:center;color:darkblue">Online Movie Ticket System</h1>
    </div>
</body>
<body>
    <style>
        body{
            background-color:bisque;
        }
    </style>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li style="font-size:medium">@Html.ActionLink("Register", "Register", "User")</li>
                    <li style="font-size:medium">@Html.ActionLink("Signin", "Signin", "User")</li>
                    <li style="font-size:medium">@Html.ActionLink("Seat_Menu", "Seat_Menu", "Seats")</li>
                    <li style="font-size:medium">@Html.ActionLink("Search_Menu", "Search_Menu", "Theater")</li>
                </ul>

                <ul class="nav navbar-nav" style="float:right !important">
                    @if (Session["UId"] != null)
                    {
                        <li><p style="color:aqua;margin-top:15px;">Hello,@Session["UName"]</p></li>
                        <li style="font-size:medium">@Html.ActionLink("Signout", "Signout", "User")</li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Online Movie Ticket System</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>